<footer>
  <div class="footer container">
    <section class="author">
      <h3>INFO</h3>
      <strong>Author:</strong> {{ page.author }}<br>
      <!-- TODO: talk about link formatting in footer -->
      <a href="/credits.html">Credits</a>
    </section>
    <section>
      <h3>Other section</h3>
      <a href="www.malusa.it">Other link</a>
    </section>
  </div>
  <div class="copyright">
    <div class="container">
      <i class="far fa-copyright"></i> Group 1, all rights reserved.
    </div>
  </div>
</footer>
