<footer>
  <div class="footer container">
    <section class="author">
      <h4>Page by:</h4>
      {% assign author = site.authors | where: 'name', page.author | first %}
      <h2 class="{% if author %}margin{% endif %}">{{ page.author }}</h2>
      {% if author %}<h3>{{ author.position }}</h3>{% endif %}
    </section>
  </div>
  <div class="copyright">
    <div class="container">
      <a class="hidden-link" href="{{ site.baseurl }}/pages/info/copyright.html">
          <i class="far fa-copyright"></i> The Shell, all rights reserved.</a><br>
    </div>
  </div>
</footer>
