<div class="menuDesktop">
  <div class="logo">
    <a href="/index.html"><img src="/assets/style/logo_white.png" height="50"></a>
  </div>
  <div class="fill-space"></div>
  <div class="search-box"><input type="text" id="search-bar"><label for="search-bar"><img src="/assets/style/search_icon.png"></label>
		<ul id="search-results">
		</ul>
	</div>
  <nav class="nav-menu">
    <div>Learn
      <ul>
        <li><a href="{{ site.baseurl }}/pages/topic/cmd/basic.html">Basic commands</a></li>
        <li><a href="{{ site.baseurl }}/pages/topic/cmd/interm.html">Intermediate commands</a></li>
        <li><a href="{{ site.baseurl }}/pages/topic/cmd/advanced.html">Advanced commands</a></li>
        <li><a href="{{ site.baseurl }}/pages/topic/fs/fs.html">Filesystem</a></li>
        <li><a href="#">Scripting</a></li>
      </ul>
    </div>
    <code>|</code>
    <div>About
      <ul>
        <li><a href="#">Us</a></li>
        <li><a href="#">The project</a></li>
        <li><a href="#">INTRO</a></li>
      </ul>
    </div>
  </nav>
</div>

