<div class="menuDesktop">
  <div class="logo">
    <a href="/index.html"><img src="/assets/style/logo_white.png" height="50"></a>
  </div>
  <div class="fill-space"></div>
  <nav class="nav-menu">
    <div>Learn
      <ul>
        <li>Basic commands</li>
        <li>Intermediate commands</li>
        <li>Advanced commands</li>
        <li>Filesystem</li>
        <li>Scripting</li>
      </ul>
    </div>
    <code>|</code>
    <div>About
      <ul>
        <li>Us</li>
        <li>The project</li>
        <li>INTRO</li>
      </ul>
    </div>
  </nav>
  <!-- TODO: talk about positioning of menu and search box -->
  <div class="search-box"><label for="search-bar"><img src="/assets/style/search_icon.png"></label><input type="text" id="search-bar"></div>
</div>

