/**
 * Author: Marco Tereh and Claudio Maggioni
 * this file only concerns elements which are children of the <footer>
 */

footer {
  background-color: #646464; 
  color: white;

  .footer.container {
    padding: 1em;
  }

  section {
    flex-grow: 1;
    padding: .5rem;

    h2.margin, h4 {
      padding-bottom: .5em;
    }
  }

  .copyright {
    background: #515151;
    width: 100%;
    
    .container {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}
