/*------- GLOBAL ------*/

header {
  text-align:center;
}

span {
  display:inline-block;
}

/*------- MENU ------*/

.menuDesktop {
  background-color: #131313;
  position: relative;
  text-align: justify;
}

.boxTitle {
  padding: .5em;
}

.title {
  color: green;
  padding: 20px 0px;
}

.boxItem {
  position: absolute;
  right: 1em;
  top: 0;
  height: calc(50px + 1em);
  display: inline-table;
}

.boxItem a, .boxItem code {
  display: table-cell;
  vertical-align: middle;
  color: #6a6;
  font-weight: bold;
  text-decoration: none;
  font-size: 2.3vh;
  padding: 0 5px;
}
