---
layout: main
---
<article class="post">

  <header class="post-header">
    <h2 class="post-title NotoSansBold" style="font-size: 4vh;
    width: fit-content;
    padding: 0 10px;
    border: 2px solid #bdbdbd;
    border-radius: 5px;
    background-color: #000;
    color: #00cc00;
    letter-spacing: 2px;">>{{ page.title }}_</h2>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<div class="box-arrows">
	{% if page.previous-page %}
		<a id="back" href="{{ site.baseurl }}/{{ page.previous-page }}"><i class="fas fa-angle-left"></i><span>Back</span></a>
	{% endif%}

	{% if page.next-page %}
		<a id="next" href="{{ site.baseurl }}/{{ page.next-page }}" ><span>Next</span><i class="fas fa-angle-right"></i></a>
	{% endif%}
</div>
