---
layout: main
---
<article class="post">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <div class="post-content list-commands-container">
    {{ content }}
  	<ul class="list-commands">
    {% for item in site.pages %}
    	{% if item.category-page == page.category-page and item.layout == "page" %}
    		<li><span class="before-command">></span><a href="{{ item.url }}">{{ item.title }}<span class="blink"></span></a></li>
    	{% endif %}
    {% endfor %}
    </ul>
  </div>

</article>
